<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2>Bienvenido de vuelta</h2>
      <p>Nos parece que ya hiciste tu reservación RSVP, te hemos enviado un correo electronico para que puedas actualizarla.</p>
      <p>Por favor revisa tu correo electronico <tt><%= @guest.email %></tt> incluyendo la carpeta de spam!</p>
      <p>Si no recibiste el correo, envianos un correo por favor a <%= mail_to ENV['CONTACT_EMAIL'], 'Hola BENALI Love' %>.</p>
      <%= image_tag 'novios-renueva-rsvp.jpg', class: "rounded mx-auto d-block", alt: 'Vamos a Festejar" %>
    </div>
  </div>
</div>
