<p><%= @guest.email_safe_salutation %></p>

<p>Nos compartiste tu correo para hacer tu RSVP (reservación) en <%= ENV['CANONICAL_HOST'] %>.</p>

<p>Si deseas ver o actualizar tu RSVP, puedes utilizar el siguiente link:</p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>

<p>Tienes alguna pregunta puedes responder este correo.</p>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
