<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>El Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Orden del Día</h2>
        <p><strong>6:30pm</strong> &mdash; Llegada de los Invitados</p>
        <p><strong>7:00pm</strong> &mdash; Ceremonia de Boda</p>
        <p><strong>8:15pm</strong> &mdash; Cocktails, fotos, abrazos y más fotos queremos muchas con todos ustedes!</p>
        <p><strong>8:30pm-10:00pm</strong> &mdash; Comida y Bebida</p>
        <p><strong>10:00pm</strong> &mdash; Tradicional baile de novios!, Liga, Ramo, Partimos Pastel, Bebemos, bailamos y bailamos!</p>
        <p><strong>1:00am</strong> &mdash; Que se acabo la fiesta? Seguimos bailando</p>
        <p>Seguimos festejando, habra una pequeño menu de desvelados. Sacundanse y demos el último Baile.</p>
        <h3><strong>Codigo de vestimenta</strong></h3>
        <p>Como tu estes comodo. Solo se tu mismo y disfruta con nosotros la fiesta.</p>
        <h2>Regalos &amp; Tarjetas</h2>
        <p>Si deseas regalarnos algo y compartir nuestra felicidad tenemos una mesa de regalos aqui <%= link_to 'Mesa de Regalos', @cool_earth_url %>,  Pero no es necesario elegir un regalo de la lista. Puedes elegir lo que gustes y proporcionar este número de evento: <strong>50863406</strong> o con nuestros nombres o <strong>BENALI BODA</strong> </p>
        <p class="text-center"><%= link_to 'Visitar Mesa de Regalos', @cool_earth_url, class: 'btn btn-primary wedding-cta-btn' %></p>
        <p>Si gustas enviarnos algun regalo directo al domicilio, en el correo electrónico al reservar te mandamos nuestra dirección.</p>
        <h2>Menu</h2>
        <p><strong>Entrada</strong> &mdash; Gourmet &amp; Deliciosa <sup>*</sup> &dagger;</p>
        <p><strong>Plato Fuerte</strong> &mdash; Muy Fuerte &ddagger;</p>
        <p><strong>Postre</strong> &mdash; Algo delicioso <sup>&sect;</sup></p>
        <!--
        <ul class="list-unstyled">
          <li><small><sup>*</sup> Gluten free &amp; vegan starter: Tomato soup</small></li>
          <li><small>&dagger; Gluten free &amp; dairy free starter: Gravadlax served without tart</small></li>
          <li><small>&ddagger; Main is gluten free. Vegan main: Aubergine &amp; Black Bean Chilli with Cumin Rice</small></li>
          <li><small><sup>&sect;</sup> Vegan, gluten free &amp; dairy free dessert: Fruit platter</small></li>
        </ul>
        -->
        <h2>RSVPs</h2>
        <p>Por favor reserva RSVP tan pronto sea posible, así podemos tomar en cuenta tus comentarios y guardarte un pedacito de pastel, si no puedes acompañarnos hazlo saber igual eres importante para nosotros y estamos considerando tu pedazo de pastel.</p>
      </div>
    </div>
  </div>
</section>
