<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Casa Americas</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Como llegar?</h2>
        <p>Nuestro evento es en Casa Americas. Esta en una las principales avenidas de Guadalajara. Av. Americas</p>
        <p>Cerca de plaza Midtown. Cerca de la glorieta colon. Aun lado hay un PETCO y también un Cafe CHAI</p>
        <h2>Sabemos que vienes de fuera</h2>
        <p>Hay muchos hoteles y airbnb cerca <strong>Hay un descuento en el Hotel Fiesta Americana y Hudson</strong>.</p>
        <p>Si buscas Airbnb buscalo cerca de Casa Americas o plaza Midtown o plaza Sao Paulo.</p>
      </div>
    </div>
  </div>
</section>
